/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2017, 12:14:34 PM
    Author     : kirstyjames
*/


/* fix for weird gap on right hand side*/ 

body {
    margin: 0px;
}

/* Adds background colour to the navigation bar */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-decoration: none;
    z-index: 1;
}


/*Makes sure the list has no padding/margin*/ 

.topnav ul {
    padding: 0;
    margin: 0; 
}


/* Style the links inside the navigation bar */
.topnav li { 
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.topnav .align-left {
    float: left;
}

.topnav .align-right {
    float: right;
}



/* Change the color of links on hover */
.topnav li a:hover {
    background-color: #d6acad;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;  
}

.container {
    background: #F2F2F2;
}

.main {
    overflow: hidden;
    position:relative;
    top: 40px;  
    margin: 0 auto;
    max-width: 600px;
}

.article {
    max-width: 600px;
    padding: 10px;
    background: white;
    
}

.article img {
    max-width: 580px;
    margin: 0;
}

.article h3 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
    margin: 0;
}

.article p {
    margin: 0;
}


